.bg-main {
  background-color: var(--main-color);
}
.orders-section h2 {
  font-family: var(--main-font);
  font-weight: bold;
}
.card-header {
  border-bottom: 1px solid #eee;
}
.border {
  border: 1px solid #ccc;
  background-color: #fdfdfd;
}
@media print {
  body * {
    visibility: hidden;
  }

  .print-area, .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 20px;
    font-family: monospace;
    white-space: pre;
  }
}
