<section id="products">
  <div class="container">
    <div class="row">
      <h3>List Of Products</h3>
      @for (product of products(); track $index) {
      <div class="col-md-4 my-1">
        <div class="card shadow-sm p-3">
          <h5><strong>name</strong> : {{ product.name }}</h5>
          <h5><strong>price</strong> : {{ product.price | currency:'EGP' }}</h5>
          <h5><strong>quantity</strong> : {{ product.quantity }}</h5>
          <h5><strong>weight</strong> : {{ product.weight_formatted }}</h5>

          <div class="d-flex justify-content-center align-items-center gap-2">
            <input type="number" min="1" [max]="product.quantity" [(ngModel)]="quantities[product.id]"
              class="form-control form-control-sm w-25" placeholder="Qty" />
            <button class="btn btn-add" (click)="addProductToCart(product.id, product.quantity)">
              <i class="bi bi-cart-plus"></i> Add
            </button>
          </div>

          <div *ngIf="quantityError[product.id]" class="text-danger small">
            {{ quantityError[product.id] }}
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>